<table style="width:100%; font-size:12pt">
    <tr>
        <td>{{basic_attack}}</td>
        <td>Attack: <b>{{attack_modifier}}</b></td>
        <td>Minor <b>{{minor_threshold}}</b> | Major <b>{{major_threshold}}</b> | Severe
            <b>{{severe_threshold}}</b>
        </td>
    </tr>
    <tr>
        <td>HP: <b>{{health}}</b></td>
        <td>Stress: <b>{{stress}}</b></td>
        <td>Difficulty: <b>{{difficulty}}</b></b></td>
    </tr>
</table>

<table style="width:100%; font-size: 10pt">
    <tr>
        <th>Features</th>
    </tr>
    <tr>
        <td>{{features}}</td>
    </tr>
    <tr>
        <th>Description</th>
    </tr>
    <tr>
        <td>{{description}}</td>
    </tr>
</table>